
include activate

include README.md

graft tests
graft csrc
graft res
graft win32/pthread
graft docs
prune docs/_api
prune docs/_build
include testsuites/README.md
graft testsuites/MTBC
graft testsuites/examples

global-exclude */.DS_Store
global-exclude *.pyc .*.sw* .swp

